    * {
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0rem;
        margin: 0rem;
    }

    html {
        /*border: .2rem solid aqua;*/
    }

    body {
        /* border: .2rem solid rgb(5, 245, 5); */
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    header {
        /* border: .2rem solid red; */
        display: flex;
        background-color: rgb(51, 46, 46);
        padding: .6rem;
        align-items: center;
        align-content: center;
    }

    #logo {
        /* border: .2rem solid rgb(202, 202, 228); */
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 3rem;
        height: 3rem;
        font-size: 1.2rem;
        font-weight: bold;
        margin-right: 1rem;
        background-color: blue;
        color: #eee;
    }

    #titulo {
        /* border: .1rem solid white; */
        font-size: 1.2rem;
        font-weight: bold;
        color: #eee;
        flex: 1;
    }

    .menu-hamburguer {
        /* border: .1rem solid red; */
        border-radius: 100%;
        padding: .7rem;
        width: 1.2rem;
        height: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: #4a4a4a;
    }

    .menu-hamburguer:hover {
        background-color: #5e5e5e;
    }

    .menu-hamburguer:hover i {
        color: #eee;
    }

    .menu-hamburguer i:hover {
        color: white;
    }

    .menu-hamburguer i {
        font-size: 1.5rem;
        color: #ccc;
    }

    section {
        /* border: .2rem solid purple; */
        display: flex;
        flex: 1;
    }

    a {
        text-decoration: none;
    }

    nav {
        /* border: .2rem solid plum; */
        width: 15rem;
        background-color: #eee;
        padding: .6rem;
    }

    li {
        margin-bottom: 1rem;
    }

    .opcao {
        display: flex;
        /* border: .1rem solid green; */
        border-radius: .5rem;
        padding: .6rem;
        background-color: #ddd;
        color: #5e5e5e;
    }

    .opcao:hover {
        background-color: #ccc;
        color: black;
        box-shadow: .3rem .3rem .3rem .01rem #ddd;
        border: .1rem solid #bdbdbd;
    }

    .opcao:hover .rotulo {
        /* transform: translateX(90%); */
        text-align: right;
    }

    .opcao:hover .icone-final {
        opacity: 1;
    }

    .icone-inicial {
        /* border: .1rem solid red; */
        width: 1.5rem;
    }

    .rotulo {
        /* border: .1rem solid #0400ff; */
        flex: 1;
    }

    .icone-final {
        /* border: .1rem solid #d000ff; */
        width: 1rem;
        text-align: right;
        opacity: 0;
        transition: opacity .3s ease-in;
    }

    main {
        /* border: .2rem solid orangered; */
        flex: 1;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
    }

    .cartao {
        border: .1rem solid #ddd;
        width: 13rem;
        height: 20rem;
        padding: .5rem;
        box-shadow: .5rem .5rem .3rem .01rem #eee;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .produto {
        width: 100%;
    }

    .nome-produto {
        font-size: 2rem;
        font-weight: bold;
        margin-top: 0.3rem;
    }

    .preco {
        font-size: 1.5rem;
        font-weight: bold;
        color: green;
        margin-top: 0.5rem;
        text-align: right;
    }

    .botao {
        margin-top: 0.5rem;
        width: 100%;
        padding: 0.5rem;
        background-color: blue;
        color: #eee;
        font-weight: bold;
        border: none;
        border-radius: .5rem;
        cursor: pointer;
        margin-top: 1rem;
    }

    footer {
        /* border: .2rem solid yellow; */
        background-color: rgb(51, 46, 46);
        padding: .6rem;
        height: 3rem;
        color: #eee;
    }

    @media (max-width: 576px) {
        #titulo {
            opacity: 0;
        }

        nav {
            display: none;
        }

        main {
            flex-direction: column;
            align-items: center;
            align-content: center;
        }
    }